<div>
    <h2>
        <span style="color: green;">&#10004;</span> All services are operational.
        {% comment %} &#9888;&#65039; Maintenance in progress. &#9888;&#65039;{% endcomment %}
    </h2>
    <br />
    <h2>
        <h4>
          <a href="https://grafana.spack.io/d/8kOGTDYVk/pipeline-user-impact?orgId=1">GitLab CI Pipelines Dashboard</a>
        </h4>
        <h4>
          <a href="https://grafana.spack.io/d/4o5_AQAVz/gitlab-ci-failures?orgId=1">GitLab CI Jobs Dashboard</a>
        </h4>
        <h4>
          <a href="https://grafana.spack.io/d/XaY45DkIk/build-timing-dashboard?orgId=1">Build Timing Dashboard</a>
        </h4>
        <h4>
          <a href="https://grafana.spack.io/d/QUnJXI7Sz/runner-pressure?orgId=1">Runner Pressure Dashboard</a>
        </h4>
        <h4>
          <a href="https://grafana.spack.io/d/UMI_eRy7z/pipeline-overview?orgId=1">Cloud Runners Dashboard</a>
        </h4>
    </h2>
    <h1>Updates</h1>
    {% for status in site.data.status reversed %}
        <h4>{{ status.date }}</h4>
        <span>{{ status.message }}</span>
        <hr />
    {% endfor %}
</div>
